<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LogCatcher.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>101</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D70142AD14DE9CA3EB0B07EA8B33953B0CE5EFC4</string>
				<key>dateExpires</key>
				<string>2024/11/10</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D70142AD14DE9CA3EB0B07EA8B33953B0CE5EFC4</string>
						<key>dateExpires</key>
						<string>2024/11/10</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y3X76MKKP6</string>
						<key>name</key>
						<string>LG Uplus Corp.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y3X76MKKP6.com.lguplus.CCTVLogCatcher</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y3X76MKKP6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LogCatcher.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c272a6a9-8dfc-469b-8069-385ece1fd80a</string>
				<key>dateExpires</key>
				<string>2024/08/23</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.lguplus.CCTVLogCatcher</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y3X76MKKP6</string>
				<key>name</key>
				<string>LG Uplus Corp.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
